body {
  font-family: SegoeUI, Segoe UI;
  font-weight: lighter;
  background: gainsboro;
}

section {
  margin-top: 239px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
}

.heading-info {
  width: 1084px;
  min-width: 355px;
  background: gainsboro;
  margin: auto;
  right: 0;
  position: fixed;
  left: 0;
  height: 224px;
  margin-top: -240px;
  box-shadow: 0px 25px 33px -28px #000000;
}

h1 {
  padding: 30px;
  color: slategray;
  font-size: 34px;
  font-weight: bold;
}

h2 {
  color: slategray;
  font-weight: normal;
}

#h20 {
  padding: 0px 30px;
}

#h21 {
  padding: 10px 30px 0px 30px;
}

.table-header {
  margin-top: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  box-shadow: 1px 1px 5px #969696;
}

span {
  width: 80px;
  text-align: center;
  background: #d11345;
  color: white;
  font-weight: bold;
  padding: 10px 0px;
  border-left: solid 6px white;
  border-top: solid 6px white;
  border-bottom: solid 6px white;
}

span:nth-child(2) {
  min-width: 230px;
}

span:nth-child(11) {
  border-right: solid 6px white;
  min-width: 86px;
}

span:hover {
  cursor: pointer;
}

table {
  margin-bottom: 100px;
  box-shadow: 1px 1px 5px #969696;
}

tr:nth-child(even) {
  background: gainsboro;
}

tr:nth-child(odd) {
  background: slategray;
  color: white;
}

th {
  background: #d11345;
  color: white;
  font-weight: bold;
  padding: 10px 18px;
}

th, td {
  border: solid 6px white;
  box-shadow: 3px 3px 5px #969696;
}

td {
  text-align: center;
  font-weight: normal;
  padding: 8px 18px;
}

td:nth-child(1) {
  min-width: 80px;
}

td:nth-child(n+3) {
  min-width: 80px;
}

td:nth-child(2) {
  text-align: left;
  min-width: 220px;
}

/*.HOU {
  background: #d11345;
  color: #d11345;
}

.CLE {
  background: #860038;
  color: #fdba2b;
}

.BOS {
  background: #008248;
  color: white;
}

.WAS {
  background: #133056;
  color: #ce414a;
}

.TOR {
  background: #c02632;
}

.ATL {
  background: #e13a3e;
  color: white;
}

.MIL {
  background: #2b5235;
  color: #dfcaa2;
}

.MIA {
  background: #bf2f38;
  color: #f59814;
}

.IND {
  background: #ffc526;
  color: #002d62;
}

.CHI {
  background: #d2153a;
}

.DET {
  background: #ed174c;
  color: #0468af;
}

.CHA {
  background: #00748d;
  color: #201646;
}

.PHI {
  background: #ed174f;
  color: #0067b1;
}

.NYK {
  background: #f48227;
  color: #0169b4;
}

.ORL {
  background: #0473bc;
  color: #0c1e24;
}

.BKN {
  background: #000000;
  color: white;
}

.GSW {
  background: #006bb7;
  color: #fdb827;
}

.SAS {
  background: #c3cdd3;
  color: black;
}

.UTA {
  background: #00471b;
  color: #f8b34a;
}

.LAC {
  background: #006bb6;
  color: #ee2456;
}

.OKC {
  background: #0a7ec2;
  color: #ff795e;
}

.MEM {
  background: #23375b;
  color: #6189b9;
}

.DEN {
  background: #fdb827;
  color: #002d62;
}

.POR {
  background: #cb363a;
  color: black;
}

.NOP {
  background: #b5985a;
  color: #002a5c;
}

.DAL {
  background: #1061ac;
  color: #c4ced4;
}

.MIN {
  background: #0fa94e;
  color: #055384;
}

.SAC {
  background: #393d93;
  color: #a8a9ac;
}

.PHX {
  background: #f9a03a;
  color: #e46334;
}

.LAL {
  background: #552582;
  color: #fdb827;
}*/

@media (max-width: 1095px) {
  .heading-info {
    width: 100%;
  }
  #h20 {
    width: 100%;
  }
  span:nth-child(11) {
    display: none;
  }
  span:nth-child(10) {
    border-right: solid 6px white;
  }
  td:nth-child(11) {
    display: none;
  }
}

@media (max-width: 1080px) {
  .table-header {
    margin-top: 188px;
  }
  section {
    margin-top: 259px;
  }
  .heading-info {
    height: 244px;
    margin-top: -250px;
  }
}

@media (max-width: 1000px) {
  span:nth-child(10) {
    display: none;
  }
  span:nth-child(9) {
    border-right: solid 6px white;
  }
  td:nth-child(10) {
    display: none;
  }
}

@media (max-width: 910px) {
  span:nth-child(9) {
    display: none;
  }
  span:nth-child(8) {
    border-right: solid 6px white;
  }
  td:nth-child(9) {
    display: none;
  }
}

@media (max-width: 830px) {
  span:nth-child(8) {
    display: none;
  }
  span:nth-child(7) {
    border-right: solid 6px white;
  }
  td:nth-child(8) {
    display: none;
  }
}

@media (max-width: 750px) {
  span:nth-child(7) {
    display: none;
  }
  span:nth-child(6) {
    border-right: solid 6px white;
  }
  td:nth-child(7) {
    display: none;
  }
}

@media (max-width: 745px) {
  .table-header {
    margin-top: 208px;
  }
  section {
    margin-top: 279px;
  }
  .heading-info {
    height: 264px;
    margin-top: -270px;
  }
}

@media (max-width: 715px) {
  .table-header {
    margin-top: 248px;
  }
  section {
    margin-top: 309px;
  }
  .heading-info {
    height: 304px;
    margin-top: -310px;
  }
}

@media (max-width: 665px) {
  span:nth-child(6) {
    display: none;
  }
  span:nth-child(5) {
    border-right: solid 6px white;
  }
  td:nth-child(6) {
    display: none;
  }
}

@media (max-width: 585px) {
  span:nth-child(5) {
    display: none;
  }
  span:nth-child(4) {
    border-right: solid 6px white;
  }
  td:nth-child(5) {
    display: none;
  }
}

@media (max-width: 535px) {
  .table-header {
    margin-top: 268px;
  }
  section {
    margin-top: 329px;
  }
  .heading-info {
    height: 324px;
    margin-top: -330px;
  }
}

@media (max-width: 510px) {
  span:nth-child(2) {
    min-width: 160px;
    width: 100px;
  }
  td:nth-child(2) {
    min-width: 100px;
    width: 100px;
  }
}

@media (max-width: 490px) {
  .table-header {
    margin-top: 288px;
  }
  section {
    margin-top: 349px;
  }
  .heading-info {
    height: 344px;
    margin-top: -350px;
  }
}

@media (max-width: 450px) {
  .table-header {
    margin-top: 298px;
  }
  section {
    margin-top: 359px;
  }
  .heading-info {
    height: 354px;
    margin-top: -360px;
  }
  h1 {
    text-align: center;
    padding: 10px 30px;
  }
}

@media (max-width: 430px) {
  td:nth-child(1) {
    max-width: 70px;
  }
  td:nth-child(n+3) {
    max-width: 70px;
  }
  span:nth-child(1) {
    max-width: 70px;
  }
  span:nth-child(n+3) {
    max-width: 70px;
  }
}

@media (max-width: 430px) {
  td:nth-child(2) {
    max-width: 100px;
  }
  span:nth-child(2) {
    min-width: 50px;
  }
}
